@palette-anchor-height: 10px;
@palette-background-color: #f7f7f7;
@palette-border-color: #979797;
@palette-border-radius: 8px;
@palette-border-width: 2px;
@palette-menu-container-padding: @palette-border-radius;
@palette-anchor-border-height: @palette-border-width + @palette-anchor-height;


.palette {
  position: absolute;
}


.palette-menu-container {
  position: absolute;
  background: @palette-background-color;
  border-radius: @palette-border-radius;
  border: @palette-border-width solid @palette-border-color;
  padding: @palette-menu-container-padding;
}


.palette-menu {
  position: absolute;
};


.palette-anchor-left {
  width: 0px;
  height: 0px;
  position: absolute;
  border-top: @palette-anchor-height solid transparent;
  border-right: (@palette-anchor-height * 2) solid @palette-background-color;
  border-bottom: @palette-anchor-height solid transparent;
}


.palette-anchor-border-left {
  width: 0px;
  height: 0px;
  position: absolute;
  border-top: @palette-anchor-border-height solid transparent;
  border-right: (@palette-anchor-border-height * 2) solid @palette-border-color;
  border-bottom: @palette-anchor-border-height solid transparent;
}


.palette-anchor-right {
  width: 0px;
  height: 0px;
  position: absolute;
  border-top: @palette-anchor-height solid transparent;
  border-left: (@palette-anchor-height * 2) solid @palette-background-color;
  border-bottom: @palette-anchor-height solid transparent;
}


.palette-anchor-border-right {
  width: 0px;
  height: 0px;
  position: absolute;
  border-top: @palette-anchor-border-height solid transparent;
  border-left: (@palette-anchor-border-height * 2) solid @palette-border-color;
  border-bottom: @palette-anchor-border-height solid transparent;
}


.palette-anchor-top {
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: @palette-anchor-height solid transparent;
  border-right: @palette-anchor-height solid transparent;
  border-bottom: (@palette-anchor-height * 2) solid @palette-background-color;
}


.palette-anchor-border-top {
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: @palette-anchor-border-height solid transparent;
  border-right: @palette-anchor-border-height solid transparent;
  border-bottom: (@palette-anchor-border-height * 2) solid @palette-border-color;
}


.palette-anchor-bottom {
  width: 0px;
  height: 0px;
  position: absolute;
  border-top: (@palette-anchor-height * 2) solid @palette-background-color;
  border-left: @palette-anchor-height solid transparent;
  border-right: @palette-anchor-height solid transparent;
}


.palette-anchor-border-bottom {
  width: 0px;
  height: 0px;
  position: absolute;
  border-top: (@palette-anchor-border-height * 2) solid @palette-border-color;
  border-left: @palette-anchor-border-height solid transparent;
  border-right: @palette-anchor-border-height solid transparent;
}
