@import "common";

@active-button-border-color: #6FB1FF;
@active-button-border-width: 3px;

@button-noclick-gradient: linear-gradient(to bottom, #F0F0F0 0%, #E7E7E7 100%);
@button-click-gradient: linear-gradient(to bottom, #E7E7E7 0%, #F0F0F0 100%);


.dk-button {
  outline: none;
  border-radius: @domkit-border-radius;
  border: @domkit-border-width solid @domkit-border-color;
  background: @button-noclick-gradient;
}

.dk-button:hover:not(.dk-disabled) {
  box-shadow: @domkit-hover-shadow;
}


.dk-toggleable-button {
  .dk-button;
}

.dk-toggleable-button:hover:not(.dk-disabled) {
  box-shadow: @domkit-hover-shadow;
}


.dk-toggleable-button-active {
  outline: none;
  border-radius: @domkit-border-radius;
  border: @active-button-border-width solid @active-button-border-color;
  background: @button-noclick-gradient;
}

.dk-toggleable-button-active:hover:not(.dk-disabled) {
  box-shadow: @domkit-hover-shadow;
}


.dk-button-pressed {
  outline: none;
  border-radius: @domkit-border-radius;
  border: @domkit-border-width solid @domkit-border-color;
  background: @button-click-gradient;
}


.dk-toggleable-button-pressed {
  .dk-button-pressed;
}


.dk-toggleable-button-active-pressed {
  outline: none;
  border-radius: @domkit-border-radius;
  border: @active-button-border-width solid @active-button-border-color;
  background: @button-click-gradient;
}
