// PRIVATE MIXINS


.common-style() {
  outline: none;
  border-radius: 8px;
}


.default-border() {
  border: 1px solid #9F9F9F;
}


.active-border() {
  border: 3px solid #6FB1FF;
}


.not-clicked() {
  background: linear-gradient(to bottom, #F0F0F0 0%, #E7E7E7 100%);
}


.clicked() {
  background: linear-gradient(to bottom, #E7E7E7 0%, #F0F0F0 100%);
}


.hover-shadow() {
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.50);
}



// EXPORTED CLASSES


.dk-button {
  .common-style;
  .default-border;
  .not-clicked;
}

.dk-button:hover {
  .hover-shadow;
}


.dk-toggleable-button {
  .dk-button;
}

.dk-toggleable-button:hover {
  .hover-shadow;
}


.dk-toggleable-button-active {
  .common-style;
  .active-border;
  .not-clicked;
}

.dk-toggleable-button-active:hover {
  .hover-shadow;
}


.dk-button-pressed {
  .common-style;
  .default-border;
  .clicked;
}


.dk-toggleable-button-pressed {
  .dk-button-pressed;
}


.dk-toggleable-button-active-pressed {
  .common-style;
  .active-border;
  .clicked;
}
