@import "domkit";

.placeholder {
  width: 200px;
  height: 100px;
  background-color: #00FFFF;
}

button {
  width: 100px;
  height: 50px;
}

#test-menu {
  width: 100px;
  height: 170px;
}


#test-div {
  position: absolute;
  top: 400px;
  left: 400px;
  width: 10px;
  height: 10px;
  background-color: #FF00FF;
}
